<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="1">
        <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <h4>{{ editType }} Template</h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <button mat-flat-button color="primary" (click)="saveTemplate()">Save</button>
    </mat-grid-tile>
</mat-grid-list>


<form>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile colspan="3">
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" [(ngModel)]="template.name" name="templateName">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-checkbox color="primary" [(ngModel)]="template.inUse" name="templateInUse" [disabled]="disableInUse()">
                Use
            </mat-checkbox>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-tab-group>
        <mat-tab *ngFor="let day of template.days; let i = index;" [label]="DAY_NAMES[day.index]">
            <mat-list>
                <h2 mat-subheader>Primary Exercises</h2>
                <mat-list-item *ngFor="let primary of filterExerciseType(day, 'main'); let j = index;">
                    <mat-form-field>
                        <mat-select [(ngModel)]="primary.exercise.name" name="primary-{{i}}-{{j}}">
                            <mat-optgroup *ngFor="let group of EXERCISE_GROUPS" [label]="group.name"
                                [disabled]="group.disabled">
                                <mat-option *ngFor="let exercise of group.exercises" [value]="exercise.value">
                                    {{ exercise.display }}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <button mat-stroked-button style="width: 100%; margin-left: 20px;" type="button"
                        (click)="openSetsDialog(primary)" [disabled]="primary.exercise.name === ''">
                        Edit Sets
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                    <button mat-stroked-button color="primary" class="full-width" type="button"
                        (click)="addExercise(day.index, 'main')">
                        <mat-icon color="primary">add_circle</mat-icon>
                        Add Primary Exercise
                    </button>
                </mat-list-item>
            </mat-list>
            <mat-divider style="margin: 20px auto"></mat-divider>
            <mat-list>
                <h2 mat-subheader>Accessorie Exercises</h2>
                <mat-list-item *ngFor="let accessorie of filterExerciseType(day, 'accessorie')">
                    <h4 mat-line>{{accessorie.exercise.name}}</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item style="margin-bottom: 10px;">
                    <button mat-stroked-button color="primary" class="full-width" type="button"
                        (click)="addExercise(day.index, 'accessorie')">
                        <mat-icon color="primary">add_circle</mat-icon>
                        Add Accessorie Exercise
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</form>