#app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
    height: 7.5%;
}

#app-main-container {
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 7.5%);
}