<mat-grid-list cols="8" rowHeight="50px">
    <mat-grid-tile colspan="3">
        {{ week.weekStart | date }}
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <h4>-</h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        {{ week.weekEnd | date }}
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <button mat-icon-button type="button" color="warn" tabindex="-1" (click)="deleteWeek()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>

<mat-tab-group>
    <mat-tab *ngFor="let day of week.template.days; let i = index;" [label]="">
        <ng-template mat-tab-label>
            <mat-icon *ngIf="dayCompletedIcon(day)" color="primary" style="margin-right: 8px;">
                {{ dayCompletedIcon(day) }}
            </mat-icon>
            {{ DAY_NAMES[day.index] }}
        </ng-template>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let block of day.blocks; let blockIndex = index;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon *ngIf="blockCompleteIcon(block)" class="small-icon margin-right">
                                {{ blockCompleteIcon(block) }}
                        </mat-icon>
                        {{ block.exercise.name | exercise }}
                    </mat-panel-title>
                    <mat-panel-description>
                        Max: {{ block.exercise.weekMax }}kg
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list #sets>
                    <mat-list-item *ngFor="let set of block.sets let setIndex = index;"
                        (click)="setDone(i, blockIndex, setIndex)" (swipe)="onSwipeLeft(i, blockIndex, setIndex)"
                        style="height: 45px;">
                        <p style="min-width: 50px;">
                            {{ set.reps }}{{ set.amrap ? '+' : 'x' }}
                        </p>
                        <p style="min-width: 100px;">
                            {{ calculatePercentage(block.exercise, set) }}
                            <span class="mat-small">kg</span>
                            <span *ngIf="set.amrap && set.amrapReps" style="margin-left: 20px;">
                                ({{ set.amrapReps }})
                            </span>
                        </p>
                        <mat-icon style="margin-left: 40%" *ngIf="isDone(i, blockIndex, setIndex)">
                            done
                        </mat-icon>
                        <mat-icon color="warn" style="margin-left: 40%" *ngIf="isFailed(i, blockIndex, setIndex)">
                            clear
                        </mat-icon>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
</mat-tab-group>