<mat-grid-list cols="5" rowHeight="50px">
    <mat-grid-tile colspan="1">
        <button mat-icon-button color="primary" (click)="moveDay(-1)">
            <mat-icon>chevron_left</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate"
                (ngModelChange)="onDatepickerChange($event)" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <button mat-icon-button color="primary" (click)="moveDay(1)">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <h3>{{ trainingDayName }}</h3>
    </mat-grid-tile>
</mat-grid-list>

<mat-accordion *ngIf="template">
    <mat-expansion-panel *ngFor="let block of trainingDay.blocks">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ block.exercise.name | exercise }}
            </mat-panel-title>
            <mat-panel-description>
                Max.: {{ liftingMaxes[block.exercise.name] }}kg
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-selection-list #sets>
            <mat-list-option *ngFor="let set of block.sets">
                {{ set.reps }}{{ set.amrap ? '+' : 'x' }} {{ calculatePercentage(block.exercise, set.weightPercentage) }}kg
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>

    </mat-expansion-panel>
</mat-accordion>