@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Libre Franklin', sans-serif;
}

.full-width {
    width: 100%;
}

.success {
    background-color: #00e676;
    color: black;
}

.mat-button.mat-small {
    min-width: 1%;
}

.mat-icon-button.mat-warn {
    opacity: 0.65;
}

.small-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}