<mat-grid-list cols="8" rowHeight="40px">
    <mat-grid-tile colspan="2">
        Reps
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        Weight
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <h6 mat-subheader>AMRAP?</h6>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
    </mat-grid-tile>
    <form #setsForm="ngForm" validate>
        <div *ngFor="let set of trainingBlock.sets; let i = index;">
            <mat-grid-tile colspan="2">
                <mat-form-field class="full-width">
                    <input matInput type="number" required="true" [(ngModel)]="set.reps" name="reps-{{i}}">
                    <span matSuffix>x</span>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                @
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field class="full-width">
                    <input matInput type="number" required="true" [(ngModel)]="set.weightPercentage" name="weightPercentage-{{i}}">
                    <span matSuffix>%</span>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-checkbox color="primary" tabindex="-1" [(ngModel)]="set.amrap" name="amrap-{{i}}"></mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <button mat-icon-button color="warn" tabindex="-1" (click)="deleteSet(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-grid-tile>
        </div>
        <mat-grid-tile colspan="8">
            <button mat-stroked-button color="primary" class="full-width" type="button" (click)="addSet()">
                <mat-icon color="primary">add_circle</mat-icon>
                Add Set
            </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="8">
            <button mat-stroked-button class="success full-width" type="submit" (click)="save(setsForm.valid)">
                Save
            </button>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="formInvalid" colspan="8">
            <h4 mat-subheader style="color: #f44336;">Please enter all data!</h4>
        </mat-grid-tile>
    </form>
</mat-grid-list>